<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.springbootfordruid.dao.PersonMapper">
	<insert id="insertPerson" parameterType="com.xxx.springbootfordruid.model.Person">
		insert into x_person(name,age) values(#{name},#{age})
	</insert>
	
	<select id="selectPersonByName" parameterType="java.lang.String" resultType="com.xxx.springbootfordruid.model.Person">
		select * from x_person a where a.name = #{name}
	</select>
	
	<select id="selectAllPerson" resultType="com.xxx.springbootfordruid.model.Person" flushCache="false">
		select * from x_person
	</select>
	
	<update id="updatePerson" parameterType="int">
		update x_person set name='123' where id=#{id}
	</update>
</mapper>